@charset "UTF-8";
@font-face {
  font-family: raleway_c;
  src: url(../fonts/raleway-v22-cyrillic-300.woff2);
  font-weight: 300; }

@font-face {
  font-family: raleway_c;
  src: url(../fonts/raleway-v22-cyrillic-100.woff2);
  font-weight: 100; }

* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

aside,
nav,
footer,
header,
section {
  display: block; }

html,
body {
  height: 100%;
  min-width: 320px; }

body {
  line-height: 1;
  font-family: "raleway_c", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: "raleway_c", sans-serif; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit; }

/*
	Стиль иконки бургера
	.icon-menu{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
*/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000; }

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "raleway_c", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
  body.lock {
    overflow: hidden; }
    @media (max-width: 767.98px) {
      body.lock {
        width: 100%;
        position: fixed;
        overflow: hidden; } }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

:root {
  --index: calc(1vw + 1vh);
  --gutter: 15px;
  --side-small: 26;
  --side-big: 36;
  --depth: 5600px;
  --transition: .75s cubic-bezier(.075, .5, 0, 1)
; }

body {
  background-color: #f2e1cb;
  color: rgba(0, 0, 0, 0.87);
  font-size: calc(var(--index) * .8);
  line-height: 1.75;
  height: var(--depth);
  font-weight: 300; }
  @media (max-width: 641px) {
    body {
      line-height: 1.5; } }

.container {
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-perspective: 1500px;
  perspective: 1500px; }

.gallery {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 100%; }

.frame {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: var(--transition), opacity 0.75s ease;
  -o-transition: var(--transition), opacity 0.75s ease;
  transition: var(--transition), opacity 0.75s ease;
  will-change: transform;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }
  .frame__content-copyright {
    font-size: calc(var(--index) * 1); }
  .frame h2 {
    text-align: center;
    font-size: calc(var(--index) * 3.3); }
  .frame h3 {
    font-size: calc(var(--index) * 3); }
  .frame h4 {
    font-size: calc(var(--index) * 2); }
    @media (max-width: 640px) {
      .frame h4 {
        font-size: calc(var(--index) * 3);
        width: 90%;
        margin: 10px auto; } }
  .frame p {
    max-width: 30vw;
    margin-top: 3vh; }
    @media (max-width: 640px) {
      .frame p {
        font-size: calc(var(--index) * 1.8);
        max-width: 90%;
        margin: 3px auto; } }

h1,
h2,
h3,
h4 {
  font-weight: 100;
  text-transform: uppercase;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  line-height: 1; }

.frame-media {
  position: relative;
  width: calc(var(--index) * var(--side-small));
  height: calc(var(--index) * var(--side-big));
  background-position: center;
  background-size: cover; }
  @media (max-width: 641px) {
    .frame-media {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .frame-media img {
    position: absolute;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    border-radius: 5px; }

.frame-media-wide {
  width: calc(var(--index) * var(--side-big));
  height: calc(var(--index) * var(--side-small)); }
  @media (max-width: 641px) {
    .frame-media-wide {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.frame-media-title {
  width: calc(var(--index) * 2 * var(--side-big));
  height: calc(var(--index) /2 * var(--side-big));
  bottom: 5vh;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: 10px; }
  @media (max-width: 631px) {
    .frame-media-title {
      display: none; } }

.frame-media-title-1 {
  display: none;
  width: calc(var(--index) * 1.5 * var(--side-big));
  height: calc(var(--index) /1.2 * var(--side-big));
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  bottom: 5vh; }
  @media (max-width: 631px) {
    .frame-media-title-1 {
      display: block; } }

.frame-media-left {
  right: calc(var(--side-small) / 2 * var(--index) + var(--gutter)); }
  @media (max-width: 641px) {
    .frame-media-left {
      right: 0; } }

.frame-media-right {
  left: calc(var(--side-small) / 2 * var(--index) + var(--gutter)); }

.gallery-title {
  bottom: 5vh;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: 10px; }

.gallery-1-1 {
  top: 84%;
  right: 0;
  width: 70%;
  height: 70%;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: 10px; }
  @media (max-width: 991.98px) {
    .gallery-1-1 {
      bottom: 8%;
      right: 0%;
      width: 60%;
      height: 60%; } }
  @media (max-width: 641px) {
    .gallery-1-1 {
      top: 90%;
      right: 0%; } }

.gallery-1-2 {
  top: 26%;
  right: 82%;
  width: 60%;
  height: 60%;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: 10px; }
  @media (max-width: 991.98px) {
    .gallery-1-2 {
      bottom: 0%;
      right: 65%;
      width: 50%;
      height: 50%; } }
  @media (max-width: 641px) {
    .gallery-1-2 {
      top: 50%;
      left: 40%; } }

.gallery-1-3 {
  bottom: 152%;
  left: 76%;
  width: 60%;
  height: 60%;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: 10px; }
  @media (max-width: 991.98px) {
    .gallery-1-3 {
      bottom: 160%;
      left: 65%;
      width: 50%;
      height: 50%; } }
  @media (max-width: 641px) {
    .gallery-1-3 {
      bottom: 200%;
      left: 0%; } }

.gallery-2-1 {
  top: 50%;
  left: 33%;
  width: 70%;
  height: 70%;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: 10px; }
  @media (max-width: 767.98px) {
    .gallery-2-1 {
      width: 60%;
      height: 60%;
      left: 40%; } }
  @media (max-width: 641px) {
    .gallery-2-1 {
      top: 55%;
      left: 50%; } }

.gallery-2-2 {
  top: 28%;
  right: 65%;
  width: 70%;
  height: 70%;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: 10px; }
  @media (max-width: 991.98px) {
    .gallery-2-2 {
      top: 25%;
      right: 50%; } }
  @media (max-width: 767.98px) {
    .gallery-2-2 {
      width: 50%;
      height: 50%; } }
  @media (max-width: 641px) {
    .gallery-2-2 {
      top: 35%;
      right: 40%; } }

.gallery-2-3 {
  bottom: 100%;
  left: 65%;
  width: 60%;
  height: 60%;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: 10px; }
  @media (max-width: 991.98px) {
    .gallery-2-3 {
      bottom: 100%;
      left: 65%; } }
  @media (max-width: 767.98px) {
    .gallery-2-3 {
      width: 50%;
      height: 50%;
      bottom: 100%; } }
  @media (max-width: 641px) {
    .gallery-2-3 {
      bottom: 85%;
      left: 60%; } }

.gallery-3-1 {
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: 10px; }
  @media (max-width: 767.98px) {
    .gallery-3-1 {
      width: 70%;
      height: 70%;
      left: 32%; } }
  @media (max-width: 641px) {
    .gallery-3-1 {
      bottom: 100%;
      left: 25%; } }

.gallery-3-2 {
  bottom: 25%;
  right: 18%;
  width: 70%;
  height: 70%;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: 10px; }
  @media (max-width: 767.98px) {
    .gallery-3-2 {
      width: 70%;
      height: 70%;
      bottom: 30%;
      right: 30%; } }
  @media (max-width: 641px) {
    .gallery-3-2 {
      bottom: 45%;
      right: 30%;
      width: 60%;
      height: 60%; } }

.gallery-3-3 {
  top: 15%;
  left: 10%;
  width: 70%;
  height: 70%;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: 10px; }
  @media (max-width: 767.98px) {
    .gallery-3-3 {
      width: 50%;
      height: 50%;
      top: 50%;
      left: 10%; } }
  @media (max-width: 641px) {
    .gallery-3-3 {
      top: 45%;
      left: 30%;
      width: 60%;
      height: 60%; } }

.frame-bg {
  background-color: #f2e1cb;
  height: 200%;
  top: -45vh; }

@media (max-width: 641px) {
  .frame-640 {
    background-color: #f2e1cb;
    height: 200%;
    top: -45vh; } }

video.frame-media {
  width: calc(var(--index) * var(--side-big));
  height: calc(var(--index) * var(--side-small)); }

video.frame-media-right {
  left: calc(var(--side-big) / 2 * var(--index) + var(--gutter)); }

video.frame-media-left {
  right: calc(var(--side-big) / 2 * var(--index) + var(--gutter)); }

.text-right > * {
  position: relative;
  left: 17vw;
  top: 0vh; }
  @media (max-width: 641px) {
    .text-right > * {
      left: 0; } }

.text-left > * {
  position: relative;
  right: 18vw; }

.text-bottom {
  position: absolute;
  bottom: 24vh;
  background-color: #f2e1cb; }
  .text-bottom h1,
  .text-bottom h2,
  .text-bottom h3,
  .text-bottom h4 {
    font-weight: 300;
    text-transform: inherit;
    width: 100%;
    line-height: 1; }
  .text-bottom h2 {
    font-size: calc(var(--index) * 1.3); }
  .text-bottom p {
    max-width: 100vw;
    margin-top: 0; }

.soundbutton {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  width: 24px;
  cursor: pointer;
  -webkit-transition: .25s ease;
  -o-transition: .25s ease;
  transition: .25s ease; }
  .soundbutton.paused {
    opacity: .40; }

.scrollup {
  font-size: 14px;
  height: 40px;
  opacity: 0.6;
  position: fixed;
  bottom: 3vh;
  left: 5vw;
  display: none;
  color: rgba(0, 0, 0, 0.87);
  background: url("/img/icon_top.png") no-repeat;
  z-index: 1000;
  width: auto; }
  .scrollup:hover {
    opacity: 1; }

.container-info {
  width: 40%;
  height: 80%;
  -webkit-perspective: 1200;
  perspective: 1200;
  -moz-transform: perspective(1200px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative; }
  @media (max-width: 991.98px) {
    .container-info {
      width: 50%; } }
  @media (max-width: 767.98px) {
    .container-info {
      width: 70%; } }
  @media (max-width: 641px) {
    .container-info {
      width: 100%;
      height: 95%;
      margin: auto 10px;
      position: relative; } }
  .container-info h1 {
    color: white;
    margin: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    white-space: nowrap;
    letter-spacing: 5px;
    font-size: calc(var(--index) * 2);
    font-weight: 700; }
  .container-info h2 {
    line-height: 1; }
  .container-info h4 {
    width: 100%;
    text-transform: inherit; }

.flipper {
  border: 10px solid rgba(255, 255, 255, 0.2);
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: .7s linear;
  -o-transition: .7s linear;
  transition: .7s linear; }
  .flipper:target {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg); }
  @media (max-width: 641px) {
    .flipper {
      height: 40%;
      position: absolute;
      top: 30%; }
      .flipper:target {
        position: relative;
        height: 100%;
        top: 0; } }

.front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg); }

.home,
.close {
  color: #999;
  font-size: 20px; }

.home:hover,
.close:hover {
  color: white; }

.button {
  text-decoration: none;
  width: 120px;
  height: 50px;
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
  z-index: 3;
  line-height: 50px;
  padding-left: 30px;
  -webkit-transition: .4s linear;
  -o-transition: .4s linear;
  transition: .4s linear; }
  .button::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 8px;
    width: 0;
    height: 0;
    border-top: 20px solid white;
    border-right: 20px solid transparent; }

.share-block {
  float: right;
  padding-right: 10px;
  line-height: 50px;
  position: relative; }
  .share-block a {
    color: #999;
    display: inline-block;
    margin-right: 7px;
    -webkit-transition: .4s linear;
    -o-transition: .4s linear;
    transition: .4s linear; }
    @media (max-width: 641px) {
      .share-block a {
        margin-right: 10px; } }
    .share-block a:hover {
      color: white; }

.contacts img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  opacity: 0.6; }
  @media (max-width: 641px) {
    .contacts img {
      width: 20px;
      height: 20px; } }
  .contacts img:hover {
    opacity: 1; }

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
  color: white;
  overflow: hidden; }

.inner {
  line-height: 1.7;
  letter-spacing: 1px;
  height: 100%; }
  .inner h4 {
    padding-left: 10px;
    margin-bottom: 10px; }
  .inner__text {
    overflow: auto;
    height: 100%; }
    .inner__text span:hover {
      text-decoration: underline; }
    .inner__text a {
      color: inherit; }
    .inner__text p {
      font-size: 16px;
      display: block;
      padding: 0px 10px 100px 10px;
      min-width: 100%;
      margin-top: 0; }
      @media (max-width: 767.98px) {
        .inner__text p {
          font-size: 14px; } }
