@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

aside,
nav,
footer,
header,
section {
  display: block; }

html,
body {
  height: 100%;
  min-width: 320px; }

body {
  line-height: 1;
  font-family: "Inter";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: "Inter"; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit; }

ul {
  margin: 0; }

li {
  padding-left: 0; }

a {
  color: inherit; }

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.menu {
  margin-right: 70px; }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .menu__item + .menu__item {
    padding-left: 10px; }
  .menu__link {
    text-transform: uppercase;
    padding: 43px 20px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .menu__link:hover {
      background-color: #131313;
      color: #fff; }

@media (max-width: 767.98px) {
  .header__inner {
    text-align: center;
    display: block; } }

@media (max-width: 991.98px) {
  .menu {
    margin-right: 0; } }

@media (max-width: 767.98px) {
  .menu {
    margin-top: 50px; } }

@media (max-width: 479.98px) {
  .menu {
    margin-top: 30px; } }

@media (max-width: 767.98px) {
  .menu__list {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; } }

@media (max-width: 479.98px) {
  .menu__list {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; } }

@media (max-width: 767.98px) {
  .menu__item + .menu__item {
    padding-left: 0; } }

@media (max-width: 767.98px) {
  .menu__link {
    padding: 25px 20px; } }

@media (max-width: 479.98px) {
  .menu__link {
    padding: 20px 5px;
    font-size: 12px; } }

.scrollup {
  width: 40px;
  height: 40px;
  opacity: 0.2;
  position: fixed;
  bottom: 150px;
  right: 100px;
  display: none;
  text-indent: -9999px;
  background: url("/img/icon_top.png") no-repeat;
  z-index: 1000; }
  @media (max-width: 1100px) {
    .scrollup {
      bottom: 120px;
      right: 20px; } }
  .scrollup:hover {
    opacity: 0.5; }

/*
	Стиль иконки бургера
	.icon-menu{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
*/
body {
  color: #131313;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Inter';
  line-height: 17px; }
  body.lock {
    overflow: hidden; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%; }
  @media (max-width: 1220px) {
    .container {
      max-width: none;
      padding: 0 10px; } }
  @media (max-width: 991.98px) {
    .container {
      max-width: none;
      padding: 0 10px; } }
  @media (max-width: 767.98px) {
    .container {
      max-width: none;
      padding: 0 10px; } }

.btn {
  background: #131313;
  border: none;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
  padding: 28px 60px 28px 81px;
  cursor: pointer;
  color: #FFFFFF;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .btn:hover {
    background: #FF4040; }
  @media (max-width: 479.98px) {
    .btn {
      padding: 15px 20px;
      letter-spacing: .9em; } }

.bike {
  padding: 100px 0 100px; }
  @media (max-width: 1100px) {
    .bike {
      padding: 0; } }
  .bike__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (max-width: 1110px) {
      .bike__inner {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
  @media (max-width: 1100px) {
    .bike__column {
      margin-bottom: 30px; } }
  @media (max-width: 767.98px) {
    .bike__column {
      margin: 0; } }
  .bike__title {
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
    margin: 72px 0 5px;
    min-width: 540px; }
    @media (max-width: 767.98px) {
      .bike__title {
        font-size: 44px;
        line-height: 57px;
        margin: 30px 0 5px;
        min-width: auto; } }
  .bike__subtitle {
    margin: 0 0 60px;
    font-size: 32px;
    color: #6F6F6F;
    line-height: 39px;
    font-weight: 400; }
    @media (max-width: 1100px) {
      .bike__subtitle {
        margin: 0 0 20px; } }
    @media (max-width: 767.98px) {
      .bike__subtitle {
        margin: 0 0 10px;
        font-size: 22px;
        line-height: 29px; } }
  .bike__text {
    max-width: 420px; }
    @media (max-width: 1110px) {
      .bike__text {
        max-width: 100%; } }
  .bike__text + .bike__text {
    margin-top: 20px; }
    @media (max-width: 1100px) {
      .bike__text + .bike__text {
        margin-top: 10px; } }
  .bike__link {
    margin-top: 80px;
    display: inline-block; }
    @media (max-width: 1100px) {
      .bike__link {
        margin: 30px auto 0px;
        max-width: 420px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
    @media (max-width: 479.98px) {
      .bike__link {
        max-width: 270px; } }
  .bike__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    @media (max-width: 767.98px) {
      .bike__list {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
  .bike__list-item {
    font-weight: 700;
    text-transform: uppercase;
    min-width: 160px;
    min-height: 53px;
    text-align: center; }
    .bike__list-item span {
      text-transform: lowercase;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 5px;
      min-height: 31px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      @media (max-width: 767.98px) {
        .bike__list-item span {
          margin-top: 3px;
          min-height: auto; } }
    @media (max-width: 767.98px) {
      .bike__list-item {
        width: 50%; } }
  @media (max-width: 479.98px) {
    .bike__list-item + .bike__list-item {
      margin-top: 10px; } }

.bike__column-slider {
  -ms-flex-preferred-size: 630px;
  flex-basis: 630px;
  margin-left: 30px;
  max-width: 630px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (max-width: 1100px) {
    .bike__column-slider {
      max-width: 100%;
      margin-left: 0; } }

.bike-slider {
  margin-bottom: 25px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }
  .bike-slider .slick-dots {
    right: 0;
    top: 52px; }

.slick-dots {
  position: absolute; }
  .slick-dots li + li {
    padding-top: 10px; }
  .slick-dots button {
    font-size: 0;
    padding: 0;
    border: 0;
    background-color: #131313;
    width: 2px;
    height: 25px;
    border-radius: 7px;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }

.slick-dots button:hover,
.slick-active button {
  background: #FF4040; }

.info {
  padding-top: 50px;
  margin-bottom: 130px; }
  @media (max-width: 1100px) {
    .info {
      margin-bottom: 50px; } }
  @media (max-width: 479.98px) {
    .info {
      margin-bottom: 40px; } }
  .info__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .info__img {
    margin-right: 60px;
    -ms-flex-preferred-size: 570px;
    flex-basis: 570px;
    -o-object-fit: cover;
    object-fit: cover; }
    @media (max-width: 1100px) {
      .info__img {
        display: none; } }
  .info__list {
    -ms-flex-preferred-size: 490px;
    flex-basis: 490px; }
    @media (max-width: 1100px) {
      .info__list {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%; } }
  .info__item + .info__item {
    padding-top: 50px; }
    @media (max-width: 767.98px) {
      .info__item + .info__item {
        padding-top: 30px; } }
  .info__item-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin: 0 0 10px; }
  .info__item-text {
    max-width: 450px; }
    @media (max-width: 1100px) {
      .info__item-text {
        max-width: 100%; } }

.characteristics {
  padding-top: 50px;
  margin-bottom: 115px; }
  @media (max-width: 991.98px) {
    .characteristics {
      padding-top: 0; } }
  @media (max-width: 767.98px) {
    .characteristics {
      margin-bottom: 60px; } }
  @media (max-width: 479.98px) {
    .characteristics {
      margin-bottom: 40px; } }
  .characteristics__title {
    margin: 0 0 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase; }
    @media (max-width: 991.98px) {
      .characteristics__title {
        text-align: center;
        margin-bottom: 10px; } }
  .characteristics__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 991.98px) {
      .characteristics__inner {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
    .characteristics__inner .characteristics__title {
      padding: 2px 0px 3px 1px;
      margin: 0 0 13px;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      background: #131313;
      color: #fff; }
  .characteristics__items {
    -ms-flex-preferred-size: 570px;
    flex-basis: 570px;
    margin-right: 60px; }
    @media (max-width: 991.98px) {
      .characteristics__items {
        margin: 0 auto; } }
  .characteristics__list + .characteristics__list {
    padding-top: 32px; }
    @media (max-width: 479.98px) {
      .characteristics__list + .characteristics__list {
        padding-top: 20px; } }
  .characteristics__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 5px; }
  .characteristics__name {
    -ms-flex-preferred-size: 285px;
    flex-basis: 285px;
    padding-right: 25px; }
    @media (max-width: 991.98px) {
      .characteristics__name {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%; } }
  .characteristics__descr {
    -ms-flex-preferred-size: 285px;
    flex-basis: 285px; }
    @media (max-width: 991.98px) {
      .characteristics__descr {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%; } }
  .characteristics__img {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
    @media (max-width: 991.98px) {
      .characteristics__img {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        margin: 0 auto 40px; } }
    @media (max-width: 767.98px) {
      .characteristics__img {
        width: 100%; } }

.slider {
  margin-bottom: 50px; }
  @media (max-width: 767.98px) {
    .slider {
      margin-bottom: 30px; } }
  @media (max-width: 479.98px) {
    .slider {
      display: none; } }
  .slider__items {
    padding-left: 50px; }
    @media (max-width: 991.98px) {
      .slider__items {
        padding-left: 30px; } }
    @media (max-width: 767.98px) {
      .slider__items {
        padding-left: 20px; } }
    @media (max-width: 479.98px) {
      .slider__items {
        padding-left: 10px; } }
    .slider__items .slick-dots {
      top: 0;
      left: 0; }
  .slider__img {
    max-width: 100%; }

.price {
  margin-bottom: 100px; }
  @media (max-width: 1100px) {
    .price {
      margin-bottom: 50px; } }
  @media (max-width: 479.98px) {
    .price {
      margin-bottom: 30px; } }
  .price__inner {
    position: relative; }

.form {
  max-width: 420px; }
  @media (max-width: 479.98px) {
    .form {
      margin: 0 auto; } }
  .form__title {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase; }
    @media (max-width: 479.98px) {
      .form__title {
        margin-bottom: 15px; } }
  .form__text {
    max-width: 300px;
    margin-bottom: 30px; }
    @media (max-width: 479.98px) {
      .form__text {
        margin-bottom: 15px; } }
  .form__input-text {
    color: #6F6F6F;
    opacity: 0.5;
    margin-bottom: 10px; }
  .form__input-name, .form__input-phone {
    width: 100%;
    border: none;
    border-bottom: 1px solid #131313;
    padding-bottom: 10px;
    margin-bottom: 20px; }
    .form__input-name ::-webkit-input-placeholder, .form__input-phone ::-webkit-input-placeholder {
      color: #6F6F6F;
      opacity: 0.5; }
    .form__input-name :-ms-input-placeholder, .form__input-phone :-ms-input-placeholder {
      color: #6F6F6F;
      opacity: 0.5; }
    .form__input-name ::-ms-input-placeholder, .form__input-phone ::-ms-input-placeholder {
      color: #6F6F6F;
      opacity: 0.5; }
    .form__input-name ::placeholder, .form__input-phone ::placeholder {
      color: #6F6F6F;
      opacity: 0.5; }
  .form__label-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px; }
    @media (max-width: 991.98px) {
      .form__label-box {
        margin-bottom: 300px; } }
    @media (max-width: 479.98px) {
      .form__label-box {
        margin-bottom: 290px; } }
  .form__label + .form__label {
    margin-left: 23px; }
  .form__input-radio {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0); }
    .form__input-radio:checked + .form__bike {
      display: block; }
  .form__bike {
    display: none;
    position: absolute;
    right: 0;
    top: 0; }
    @media (max-width: 1140px) {
      .form__bike {
        top: 45px; } }
    @media (max-width: 991.98px) {
      .form__bike {
        top: auto;
        bottom: 90px;
        left: 0;
        right: auto; } }
    @media (max-width: 479.98px) {
      .form__bike {
        bottom: 60px; } }
  @media (max-width: 1140px) {
    .form__bike-img {
      width: 500px; } }
  @media (max-width: 991.98px) {
    .form__bike-img {
      width: 430px; } }
  @media (max-width: 479.98px) {
    .form__bike-img {
      width: 100%; } }
  .form__bike-price {
    font-size: 32px;
    position: absolute;
    top: 28px;
    left: 0;
    right: 0;
    width: 221px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid #FF4040;
    border-radius: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    @media (max-width: 1140px) {
      .form__bike-price {
        font-size: 28px;
        top: 18px;
        left: 12px;
        right: 0;
        width: 190px;
        height: 85px; } }
    @media (max-width: 991.98px) {
      .form__bike-price {
        top: 46px;
        left: 97px;
        right: 0;
        background-color: white;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%); } }
    @media (max-width: 500px) {
      .form__bike-price {
        top: 35px;
        left: 0;
        right: auto;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        background-color: inherit;
        font-size: 18px;
        display: inline-block;
        border: none;
        border-radius: 0; }
        .form__bike-price span {
          background-color: #131313;
          color: #fff;
          display: inline-block;
          padding: 3px; } }
    .form__bike-price::after {
      content: '';
      width: 221px;
      height: 100px;
      border: 1px solid #FF4040;
      border-radius: 50%;
      position: absolute;
      top: 12px;
      left: 0; }
      @media (max-width: 1140px) {
        .form__bike-price::after {
          top: 10px;
          width: 190px;
          height: 85px; } }
      @media (max-width: 500px) {
        .form__bike-price::after {
          border: none; } }
  .form__radio-style {
    width: 80px;
    height: 12px;
    border-radius: 30px;
    cursor: pointer; }
  .form__radio-style--gray {
    background: #6F6F6F; }
  .form__radio-style--white {
    background: #FFFFFF;
    border: 1px solid #6F6F6F; }
  .form__radio-style--red {
    background: #FF4040; }
  @media (max-width: 479.98px) {
    .form__btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 auto;
      padding: 13px 4px 13px 20px; } }

.footer {
  background: #131313; }
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100px; }
    @media (max-width: 580px) {
      .footer__inner {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        position: relative;
        padding: 20px 15px 0px 15px;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start; } }
    @media (max-width: 450px) {
      .footer__inner {
        display: block;
        padding: 15px 0px;
        height: auto;
        text-align: center; } }
  .footer__link {
    color: #fff;
    text-decoration: underline;
    font-size: 12px;
    line-height: 15px; }
    @media (max-width: 580px) {
      .footer__link {
        margin-top: 3px; } }
  @media (max-width: 580px) {
    .footer__social {
      position: absolute;
      margin-top: 32px; } }
  @media (max-width: 450px) {
    .footer__social {
      position: relative;
      margin: 0;
      padding: 15px 0; } }
  .footer__social-link + .footer__social-link {
    margin-left: 28px; }
  .footer__contacts {
    font-size: 12px;
    line-height: 15px;
    text-transform: lowercase;
    color: #FFFFFF; }
    @media (max-width: 450px) {
      .footer__contacts {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  .footer__contacts-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 450px) {
      .footer__contacts-link {
        margin-left: -42px; } }
  .footer__contacts-link + .footer__contacts-link {
    margin-top: 10px; }
    @media (max-width: 450px) {
      .footer__contacts-link + .footer__contacts-link {
        padding-left: 42px; } }
  .footer__contacts-img {
    margin-right: 10px; }
