//========================== Плавающая кнопка =======================================================
// .scrollup {
//    width: 40px;
//    height: 40px;
//    opacity: 0.2;
//    position: fixed;
//    bottom: 150px;
//    right: 100px;
//    display: none;
//    text-indent: -9999px;
//    background: url('/img/icon_top.png') no-repeat;
//    z-index: 1000;
//    @media (max-width: 1100px){
//       bottom: 120px;
//       right: 20px; 
//    }
//    &:hover{
//       opacity: 0.5;
//    }
// }

//===================================================================================================
/*
	Стиль иконки бургера
	.icon-menu{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
*/