//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================

//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Roboto", serif;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1200;
$md1: $mw + 20;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
   color: #131313;
   font-size: 14px;
   font-weight: 400;
   font-family: 'Inter', sans-serif;
   line-height: 17px;
   &.lock {
      overflow: hidden;
   }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   &.loaded {
   }
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
   max-width: $mw + px;
   margin: 0 auto;
   width: 100%;
   @media (max-width: $md1+px) {
      max-width: 970px;
   }
   @media (max-width: $md2+px) {
      max-width: 750px;
   }
   @media (max-width: $md3+px) {
      max-width: none;
      padding: 0 10px;
   }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

.bike {
   padding: 100px 0 150px;
   // .bike__inner
   &__inner {
      display: flex;
      justify-content: space-between;
   }
   // .bike__column
   &__column {}
   // .bike__title
   &__title {
      font-size: 64px;
      font-weight: 700;
      line-height: 77px;
      margin: 60px 0 5px;
   }
   // .bike__subtitle
   &__subtitle {
      margin: 0 0 60px;
      font-size: 32px;
      color: #6F6F6F;
      line-height: 39px;
      font-weight: 400;
   }
   // .bike__text
   &__text {
      margin-bottom: 20px;
      max-width: 420px;
   }
   // .bike__link
   &__link {
      margin-top: 80px;
      display: inline-block;
      background-color: #131313;
      color: #fff;
      padding: 28px 81px;
      text-transform: uppercase;
      font-family: Inter;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 1.1em;
   }
   // .bike__list
   &__list {}
   // .bike__list-item
   &__list-item {}
}
.bike__column-slider {
   flex-basis: 630px;
   margin-left: 30px;
}
.bike-slider {
   // .bike-slider__item
   &__item {}
}


//============================================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
// @import "forms.scss";

// @import "ui.scss";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
// @import "popup.scss";

@import "../S1905/S1905.scss";

@import "header.scss";

@import "footer.scss";

@import "home.scss";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================

//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
