//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================

//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Inter";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1200;
$md1: $mw+20;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";

@import "header.scss";

body {
   color: #131313;
   font-size: 14px;
   font-weight: 400;
   font-family: 'Inter';
   line-height: 17px;

   &.lock {
      overflow: hidden;
   }
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;

   &.loaded {}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
   max-width: $mw + px;
   margin: 0 auto;
   width: 100%;

   @media (max-width: $md1+px) {
      // max-width: 970px;
      max-width: none;
      padding: 0 10px
   }

   @media (max-width: $md2+px) {
      // max-width: 750px;
      max-width: none;
      padding: 0 10px;

   }

   @media (max-width: $md3+px) {
      max-width: none;
      padding: 0 10px;
   }
}

//========================================================================================================================================================

.btn {
   background: #131313;
   border: none;
   font-size: 20px;
   line-height: 24px;
   letter-spacing: 1.1em;
   text-transform: uppercase;
   padding: 28px 60px 28px 81px;
   cursor: pointer;
   color: #FFFFFF;
   transition: all .3s;

   &:hover {
      background: #FF4040;
   }
}


//</ОСНОВНАЯ СЕТКА>===========================================================================================================

.bike {
   padding: 100px 0 100px;

   // .bike__inner
   &__inner {
      display: flex;
      justify-content: space-between;

      @media (max-width:1110px) {
         flex-wrap: wrap;
      }
   }

   // 20:07

   // .bike__column
   &__column {}

   // .bike__title
   &__title {
      font-size: 64px;
      font-weight: 700;
      line-height: 77px;
      margin: 72px 0 5px;
   }

   // .bike__subtitle
   &__subtitle {
      margin: 0 0 60px;
      font-size: 32px;
      color: #6F6F6F;
      line-height: 39px;
      font-weight: 400;
   }

   // .bike__text
   &__text {
      max-width: 420px;
   }

   &__text+&__text {
      margin-top: 20px;
   }

   // .bike__link
   &__link {
      margin-top: 80px;
      display: inline-block;

      &:hover {}
   }

   // .bike__list
   &__list {
      display: flex;
      justify-content: space-around;

   }

   // .bike__list-item
   &__list-item {
      font-weight: 700;
      text-transform: uppercase;
      min-width: 160px;
      min-height: 53px;
      text-align: center;

      span {
         text-transform: lowercase;
         font-weight: 400;
         font-size: 12px;
         line-height: 15px;
         // 2:07:8
         display: flex;
         margin-top: 5px;
         min-height: 31px;
         justify-content: center;
         align-items: center;
      }
   }
}

.bike__column-slider {
   flex-basis: 630px;
   margin-left: 30px;
   // Обязательно для слайдера указать max-width, чтобы js не перебил flex-basis
   max-width: 630px;
   // 2:07:8
   display: flex;
   flex-direction: column;
}

.bike-slider {
   margin-bottom: 25px;

   .slick-dots {
      right: 0;
      top: 52px;
   }

   // .bike-slider__item
   &__item {}

   // 2:07:8
   flex: 1 1 auto;
}

.slick-dots {
   position: absolute;

   li+li {
      padding-top: 10px;
   }

   button {
      font-size: 0;
      padding: 0;
      border: 0;
      background-color: #131313;
      width: 2px;
      height: 25px;
      border-radius: 7px;
      cursor: pointer;
      transition: all .3s;
   }

}

.slick-dots button:hover,
.slick-active button {
   background: #FF4040;
}

//========================================================================================================================================================
.info {
   padding-top: 50px;
   margin-bottom: 130px;

   // .info__inner
   &__inner {
      display: flex;
   }

   // .info__img
   &__img {
      margin-right: 60px;
      flex-basis: 570px;
      object-fit: cover;
   }

   // .info__list
   &__list {
      flex-basis: 490px;
   }

   // .info__item
   &__item {}

   &__item+.info__item {
      padding-top: 50px;
   }

   // .info__item-title
   &__item-title {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      margin: 0 0 10px;
   }

   // .info__item-text
   &__item-text {
      max-width: 450px;
   }
}

//========================================================================================================================================================
.characteristics {
   padding-top: 50px;
   margin-bottom: 115px;

   // .characteristics__title
   &__title {
      margin: 0 0 40px;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
   }

   // .characteristics__inner
   &__inner {
      display: flex;

      .characteristics__title {
         padding: 2px 0px 3px 1px;
         margin: 0 0 13px;
         font-style: normal;
         font-weight: 700;
         font-size: 14px;
         line-height: 17px;
         text-transform: uppercase;
         background: #131313;
         color: #fff;
      }
   }

   // .characteristics__items
   &__items {
      flex-basis: 570px;
      margin-right: 60px;
   }

   // .characteristics__list
   &__list+.characteristics__list {
      padding-top: 32px;
   }

   // .characteristics__line
   &__line {
      display: flex;
      padding-top: 5px;
   }

   // .characteristics__name
   &__name {
      flex-basis: 285px;
      padding-right: 25px;
   }

   // .characteristics__descr
   &__descr {
      flex-basis: 285px;
   }

   // .characteristics__img
   &__img {
      align-self: center;
   }
}

//========================================================================================================================================================
.slider {
   margin-bottom: 50px;

   // .slider__items
   &__items {
      padding-left: 50px;

      .slick-dots {
         top: 0;
         left: 0;
      }
   }
}

//========================================================================================================================================================
.price {
   margin-bottom: 100px;

   // .price__inner
   &__inner {
      position: relative;
   }
}

.form {
   max-width: 420px;

   // .form__title
   &__title {
      margin-bottom: 40px;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
   }

   // .form__text
   &__text {
      max-width: 300px;
      margin-bottom: 30px;
   }

   // .form__input-text
   &__input-text {
      color: #6F6F6F;
      opacity: 0.5;
      margin-bottom: 10px;
   }

   // .form__input-name, .form__input-phone
   &__input-name,
   &__input-phone {
      width: 100%;
      border: none;
      border-bottom: 1px solid #131313;
      padding-bottom: 10px;
      margin-bottom: 20px;

      ::placeholder {
         color: #6F6F6F;
         opacity: 0.5;
      }
   }

   // .form__label-box
   &__label-box {
      display: flex;
      margin-bottom: 50px;
   }

   // .form__label + .form__label
   &__label+&__label {
      margin-left: 23px;
   }

   // .form__input-radio
   &__input-radio {
      // прячем радио-кнопки
      position: absolute;
      width: 1px;
      height: 1px;
      // чтобы не вылезало за пределы 1х1
      overflow: hidden;
      // область взаимодействия 0px
      clip: rect(0 0 0 0);

      // делаем выдимым слайд при выборе цвета
      &:checked {
         +.form__bike {
            display: block;
         }
      }
   }

   // .form__bike
   &__bike {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
   }

   // .form__bike-img
   &__bike-img {}

   // .form__bike-price
   &__bike-price {
      font-size: 32px;
      position: absolute;
      top: 28px;
      left: 0;
      right: 0;
      width: 221px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #FF4040;
      border-radius: 50%;
      transform: translateX(-50%);

      &::after {
         content: '';
         width: 221px;
         height: 100px;
         border: 1px solid #FF4040;
         border-radius: 50%;
         position: absolute;
         top: 12px;
         left: 0;
      }
   }

   // .form__radio-style
   &__radio-style {
      width: 80px;
      height: 12px;
      border-radius: 30px;
      cursor: pointer;
   }

   // .form__radio-style--gray
   &__radio-style--gray {
      background: #6F6F6F;
   }

   // .form__radio-style--white
   &__radio-style--white {
      background: #FFFFFF;
      border: 1px solid #6F6F6F;
   }

   // .form__radio-style--red
   &__radio-style--red {
      background: #FF4040;
   }

   // .form__btn
   &__btn {}
}



//============================================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
// @import "forms.scss";

// @import "ui.scss";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
// @import "popup.scss";

@import "footer.scss";

@import "home.scss";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================

//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================